.hero {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  height: calc(100vh - 92px);
}

.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .left h1 {
  font-size: 4rem;
  font-weight: 700px;
  margin-bottom: 40px;
  margin-top: 25px;
}

.hero .left p {
  font-size: 18px;
  color: var(--medium-gray);
  line-height: 25px;
  margin-bottom: 40px;
  width: 450px;
}

.hero .left button {
  color: var(--almost-white);
  background-color: var(--almost-black);
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: 0.1s;
  margin-bottom: 25px;
  width: 30%;
}

.hero .left button:hover {
  border: 1px solid var(--almost-black);
  color: var(--almost-black);
  background-color: var(--almost-white);
}

.hero .left .footer-icons {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.hero .left .footer-icons img {
  /* margin: 20px 0px; */
  margin-right: 30px;
}
.hero .right {
  width: 500px;
}

.hero .right img {
  width: 100%;
  /* padding: 30px; */
}

@media only screen and (min-width: 600px) {
  .mobile-image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: auto;
  }

  .hero .right {
    display: block;
    width: 450px;
  }

  .hero .right img {
    width: 100%;
  }

  .hero .left {
    width: 400px;
  }

  .hero .left h1 {
    font-size: 35px;
    text-align: center;
    margin: 4rem 0px;
    /* margin-left: 4.5rem; */
    /* margin: 4rem 0 2rem 0; */
  }

  .hero .left p {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    line-height: 1.8;
    /* margin-left: 3rem; */
  }

  .hero .left button {
    /* margin: auto; */
    align-self: center;
    border-radius: 15px;
  }

  .footer-icons {
    justify-content: center;
    align-items: center;
    /* margin: 4rem auto; */
    width: 450px;
    margin-bottom: 7rem;
  }

  .hero .left .footer-icons img {
    margin-inline: 10px;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 450px;
    margin: 0px;
  }
}
