nav {
  width: 1200px;
  margin: 30px auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul .left {
  display: flex;
  align-items: flex-start;
}

nav ul .left .logo {
  margin-right: 30px;
}

nav ul .left .buttons {
  margin-inline: 20px;
  cursor: pointer;
  font-weight: 500;
  color: var(--medium-gray);
  transition: 0.1s;
  font-size: 15px;
}

nav ul .left .buttons:hover {
  color: var(--almost-black);
}

nav ul .left .buttons img {
  margin-left: 5px;
}

nav ul .right {
  display: flex;
  align-items: center;
}

nav ul .right li {
  margin-inline-end: 20px;
}

nav ul .right li button {
  border: none;
  background-color: var(--almost-white);
  color: var(--medium-gray);
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 500;
  font-size: 15px;
}

nav ul .right li button:hover {
  color: var(--almost-black);
  border-color: var(--almost-black);
}

nav ul .right li .register {
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    width: 650px;
    position: sticky;
    top: 0px;
  }

  nav ul {
    flex-direction: column;
  }

  nav .left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav .left li {
    flex-direction: column;
  }

  nav .buttons {
    /* display: block; */
  }

  ul {
    display: none;
    flex-direction: column;
    background-color: var(--almost-white);
    padding: 20px 30px;
    /* position: absolute; */
    width: 100%;
  }

  .right {
    flex-direction: column;
  }

  .toggle-button img {
    cursor: pointer;
  }
}
